@font-face {
    font-family: Immortal;
    src: url(Fonte/IMMORTAL.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(IMG/FP.gif);
    background-size: cover;
    font-family: Immortal;
}

.container {
        width: 80%;
        height: 78%;
        margin: auto;
        background: url('IMG/TFP.png') center/cover no-repeat; /* Substitua o caminho pela sua imagem */
        position: relative;
 }

.container img {
    width: 10%;
    height: auto;
    display: block;
}

.container:hover {
    cursor: url('IMG/CCT.png'), auto;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0; /* Inicia com opacidade mínima */
  animation: fadeInOut 4s linear infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 1; 
  }
  50% {
    opacity: 0.5; 
  }
  100% {
    opacity: 0;
  }
}

#loading img {
  width: 80%;
  height: 100%;
}

.formulario{
    width: 400px;
    padding: 30px;
    text-align: center;
    margin: 20%;
    margin-top: 5%;
    font-size:xx-large;
    font-family: Immortal;
}

.formulario p{
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.field{
    width: 100%;
    margin: 15px 0;
}

.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}

.radiobox label{
    width: auto;
    display: inline-block;
}

input[type=text],
input[type=email],
input[type=password],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: Immortal;
}

input#nao{
    margin-left: 30px;
}

textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}

input[type=submit]{
    display: block;
    background-color: #000000;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

.box {
    width: 200px;
    height: 200px;
}


.header {
    width: 100%;
    background-color: #000000;
}

.barra {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
}

.botoes {
    position: absolute;
    top: 25%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.botao-imagem {
    background: url('IMG/BM.png') center/cover no-repeat; 
    border: none;
    width: 150px; 
    height: 55px;
    cursor: pointer;
    font-family: Immortal;
    margin-bottom: 10px;
    display: inline-block;
}

.botao-imagem:hover {
    opacity: 0.8;
}